@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img {
    display: block;
    width: 100%;
    border: 8px solid #f2921d;
    border-radius: 12px;
}
.container {
    max-width: 1280px;
    width: 96%;
    margin: 0 auto;
}