.people {
    background-color: #0a4d68;
    color: #fff;
    margin-bottom: 12px;
    padding: 12px;
    text-align: center;
    border-radius: 12px;
}
@media (min-width: 768px) {
    .people {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
    .people img {
        height: 200px;
        object-fit: cover;
    }
}
@media (min-width: 992px) {
    .people img {
        height: 400px;
    }
}
.pair {
    padding: 12px;
}
.right {
    display: flex;
    justify-content: flex-end;
}
.right a {
    color: #fff;
}
.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #757575;
    color: #fff;
    margin-bottom: 12px;
    padding: 12px;
    text-align: center;
    border-radius: 12px;
}
@media (min-width: 768px) {
    .icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        
    }
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a4d68;
    width: 150px;
    height: 150px;
    font-size: 40px;
    margin: 0 auto;
    border: 8px solid #f2921d;
    border-radius: 20px;
}

.contacto {
    background: #0a4d68;
    margin-bottom: 12px;
    padding: 12px;
    color: #fff;
    border-radius: 12px;
}
.form {
    background-color: #454545;
    width: min(500px, 100%);
    margin: 0 auto;
    padding: 12px;
    border-radius: 12px;
}
fieldset {
    border: none;
}
legend {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 20px;
}
.fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}
.field input {
    width: 100%;
    margin-bottom: 12px;
    padding: 12px;
    border: none;
    border-radius: 8px;
}
.field textarea {
    width: 100%;
    height: 200px;
    resize: none;
    border-radius: 12px
}
.field:nth-child(3),
.field:nth-child(4) {
    grid-column: 1 / 3;
}

